<div class="container">
  <div class="home">home
    <img src="" alt="">
  </div>
  <div class="search">search
    <img src="" alt="">
  </div>
  <div class="exploser">exploser
    <img src="" alt="">
  </div>
  <div class="reels">reels
    <img src="" alt="">
  </div>
  <div class="messages">messages
    <img src="" alt="">
  </div>
  <div class="notification">notification
    <img src="" alt="">
  </div>
  <div class="create">create
    <img src="" alt="">
  </div>
  <div class="profile">profile
    <img src="" alt="">
  </div>
</div>