.container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 200px;
  height: 25rem;
  background-color: red;
  margin: 0 0.5rem;
}